/*Used by trending artists col*/
.grid-ish {
  display:flex;
  flex-wrap: wrap;
  gap: 1em;
}

img {
    max-width: 100%;
    max-height: 100%;
}
.artist-card {
   margin: 0 auto;
   margin-top:1.5rem;
   width: 9rem;
   cursor: pointer; 
   transition: all 0.2s ease-in;
}

.artist-card:hover {
    margin-top:0;
    width:10rem;
    font-size: calc(10rem / 9);
}

.concertPicks {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor:pointer;
  transition: all 0.2s ease-in-out;
}

.concertPicks:hover {
    background-color:lightblue;
}

.genre-item {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.genre-item:hover {
    /*font-size: calc(10rem / 9);*/
    background-color:lightblue;
}



#concerts {
    padding-bottom: 2rem;
}

.concertPicks:hover:after {
    float:right;
    content: 'See more concerts';
    font-weight:bold;
    text-align:center;
    padding-right:50%;
}