

#add{
  margin:auto;
}
 
::placeholder {
  color: grey;
  font-size: 1em;
}

.headings {
 color: #5e3e74;
 text-align: center;
}


#spotifyBadge {
 background-color: #1DB954;
 color: #191414;
 float:right;
}

.progress-bar {
 background-color: #b83b51;
}

.date-row {
 min-width:8rem;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  
  
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  left: 50%;
  width: 360px;
  margin-left: -80px;
  bottom: 125%;
  background-color: rgb(99, 96, 96);
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
}

.inFavorites {
    background: rgb(255,255,255);
background: -webkit-linear-gradient(bottom left, rgba(255,255,255,1) 78%, rgba(255,225,0,1) 100%);
background: -moz-linear-gradient(bottom left, rgba(255,255,255,1) 78%, rgba(255,225,0,1) 100%);
background: -o-linear-gradient(bottom left, rgba(255,255,255,1) 78%, rgba(255,225,0,1) 100%);
background: linear-gradient(to top right, rgba(255,255,255,1) 78%, rgba(255,225,0,1) 100%);

}

#addToFavorites {
    color: #5e3e74;
    float:right;
    margin-top:2%;
    margin-right:1ch;
    background-color: rgb(255, 229, 38);
    border:1px solid #5e3e74;
    
    width: 15ch;
    height:4rem;
}

#topRow {
    justify-content: space-between;
}


.grid-ish {
  display:flex;
  flex-wrap: wrap;
  gap: 1em;
}

img {
    max-width: 100%;
    max-height: 100%;
}
.artist-card {
   margin: 0 auto;
   margin-top:1.5rem;
   width: 9rem;
   cursor: pointer; 
   transition: all 0.2s ease-in;
}

.artist-card:hover {
    margin-top:0;
    width:10rem;
    font-size: calc(10rem / 9);
}

#tweets {
    background-color: RGBA(181, 205, 237, 0.3);
    border-radius: 0.1rem;
    padding-left:4ch;
    padding-right:4ch;
}

.tweet-indiv {
    border-bottom:1px solid #5F93D7;
    padding-top:2ch;
}

#tweetHeading {
    padding-top:5%;
}
/*@font-face {*/
/*  font-family: 'opendyslexic';*/
/*	src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Regular.otf');*/
/*	font-style: normal;*/
/*	font-weight: normal;*/
/*} */

/*@font-face {*/
/*	font-family: 'opendyslexic';*/
/*	src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Italic.ttf');*/
/*	font-style: italic;*/
/*	font-weight: normal;*/
/*}*/

/*@font-face {*/
/*	font-family: 'opendyslexic';*/
/*	src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Bold.ttf');*/
/*	font-weight: bold;*/
/*	font-style: normal;*/
/*} */

/*@font-face {*/
/*	font-family: 'opendyslexic';*/
/*	src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-BoldItalic.ttf');*/
/*	font-weight: bold;*/
/*	font-style: italic;*/
/*} */

/*@font-face {*/
/*	font-family: eulexia;*/
/*	src: url('http://dyslexicfonts.com/fonts/eulexia.ttf');*/
/*} */

/** {*/
/*	font-size:20px;*/
/*	line-height:200%;*/
/*	color: #191A42;*/
	
/*}*/

/*.trigger{*/
/*  font-family:opendyslexic !important;*/
/*}*/
